@import '../../assets/css/mixin.scss';

.container {
  display: flex;
  justify-content: space-between;
  padding: 25px 24px 0;

  .logo {
    background: #ffffff;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    img {
      width: 32px;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .account {
      background: var(--background-color);
      margin-right: 20px;
      padding: 0 24px;
      height: 42px;
      border-radius: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .menu {
      background: var(--background-color);
      height: 42px;
      width: 42px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.accountPanel {
  @include overlay;
  .content {
    padding: 24px;
    position: absolute;
    top: 85px;
    right: 54px;
    border-radius: 8px;
    background: var(--background-color);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    .assetItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 9px;
      @include card;
      margin-bottom: 10px;
      .logo {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        background: var(--red-color);
      }

      .main {
        flex: 1;
      }

      .usd {
        padding-left: 20px;
      }
    }

    .disBtn {
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      font-size: 13px;
      background: #ffffff;
      border: 1px solid #ff0000;
      color: #f90606;
      box-shadow: 0px 4px 7px 0px rgba(251, 194, 194, 0.5);
      border-radius: 4px;
      padding: 11px 0;
      width: 180px;
      cursor: pointer;
    }
  }
}

.menuPanel {
  @include overlay;
  .content {
    padding: 24px;
    width: 300px;
    position: absolute;
    top: 85px;
    right: 54px;
    border-radius: 8px;
    background: var(--background-color);

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      span {
        margin-right: 6px;
      }

      .btns {
        display: flex;

        div {
          opacity: 0.5;
          padding: 4px 8px;
          font-weight: 500;
          cursor: pointer;
        }

        .red {
          margin-left: 20px;
          color: var(--red-color);
        }

        .blue {
          color: var(--blue-color);
        }

        .active {
          opacity: 1;
          background: #ffffff;
          border-radius: 4px;
          box-shadow: 0px 4px 4px 0px rgba(183, 169, 235, 0.5);
        }
      }
    }
  }
}

.network {
  color: #fff;
  padding: 4px;
  font-size: 12px;
  background: var(--red-color);
  margin-top: 10px;
  text-align: center;
}
