@import '../../assets/css/mixin.scss';

.container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 70px;
}

@media (max-width: 965px) {
  .container {
  }
}
