@import '../../../../assets/css/mixin.scss';

.container {
  position: relative;
  @include card;
  height: 694px;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 42px 44px;

  .cell {
    width: 307px;
    background: red;
  }
}
