@import '../../../../assets/css/mixin.scss';

.container {
  position: relative;
  width: 408px;
  .arrow {
    width: 10px;
    margin: 10px auto;
  }
  
  .inputItem {
    margin-bottom: 16px;
  }

  .btn {
    @include colorful-button;
    width: 100%;
    margin-top: 16px;
  }
}

@media (max-width: 474px) {
  .container {
    width: calc(100vw - 60px) !important;
  }
}
