@import '../../../../assets/css/mixin.scss';

.container {
  position: relative;
  min-width: 308px;
  .arrow {
    width: 10px;
    margin: 10px auto;
  }

  .tabs {
    display: flex;
    margin-bottom: 14px;
    .tab {
      flex: 1;
      @include troggle-button;
      padding: 8px;
      color: var(--main-second-color);
    }
  }

  .inputItem {
    margin-bottom: 10px;
  }
}
