.tip {
  position: relative;
  display: inline-block;
  margin-left: 2px;
  &:hover {
    .titleWrapper {
      display: block;
    }
  }
}

.icon {
  color: #fff;
  vertical-align: middle;
  font-size: 18px;
}
