@import '../../assets/css/mixin.scss';
.btn {
  @include colorful-button;
  &[data-type='second'] {
    background: var(--input-background-color);
    box-shadow: none;
    color: var(--main-text-color);
  }

  span {
    margin-left: 10px;
  }
}

// @media (max-width: 768px) {
//   .btn {
//     padding: 10px 12px;
//     font-size: 14px;
//   }
// }
