@import '../../../assets/css/mixin.scss';

.content {
  h2 {
    font-size: 22px;
  }
  .info {
    margin-bottom: 16px;
    p {
      font-size: 16px;
      margin-bottom: 4px;
    }
    span {
      font-size: 16px;
      color: var(--primary-color);
      margin-left: 6px;
    }
    a {
      text-decoration: underline;
      font-size: 16px;
      color: var(--primary-color);
    }
  }
  .note {
    margin-top: 16px;
    font-size: 14px;
    word-break: normal;
    color: var(--second-text-color);
  }
}
