@import '../../../../assets/css/mixin.scss';

$radius: 10px;

.container {
  padding: 30px 24px 10px;
  @include card;
  border-radius: $radius;
  h2 {
    font-size: bold;
    font-size: 24px;
    color: var(--main-text-color);
    span {
      margin-right: 10px;
    }
  }

  .modeContent {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    .tag {
      @include tag;
      flex-shrink: 0;
    }
    span {
      color: red;
    }
  }

  .wrap {
    display: flex;
    justify-content: center;
    position: relative;
    column-gap: 32px;

    .item {
      flex: 1;
      width: 408px;
      .card {
        border-radius: 6px;
        background: var(--red-background-color);
        &[data-color='blue'] {
          background: var(--blue-background-color);
        }
        padding: 22px 16px 10px;
        border-radius: $radius;
        .title {
          font-size: 14px;
        }
        .nums {
          margin-top: 14px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-size: 24px;
          b {
            margin: 0;
            color: var(--blue-color);
            font-size: 36px;
            line-height: 36px;
            font-weight: 400;
          }
        }
        .value {
          span {
            color: var(--blue-color);
          }
        }
        .ratio {
          .red {
            color: red;
          }
          .green {
            color: green;
          }
          span {
            color: red;
            font-size: 24px;
          }
          p:last-child {
            font-size: 14px;
          }
        }
      }

      .chart {
        @include card;
        border-radius: $radius;
        margin-top: 24px;
        padding: 20px 16px;
        &[data-color='blue'] {
          background: linear-gradient(45deg, #1d27a0 0%, #7f1ddb 98%);
        }
        &[data-color='red'] {
          background: linear-gradient(45deg, #ee0647 0%, #f05a29 100%);
        }
      }

      .details {
        margin-top: 32px;
        font-size: 12px;
        &[data-color='blue'] {
          p {
            color: var(--blue-color);
          }
        }
        &[data-color='red'] {
          p {
            color: var(--red-color);
          }
        }
        .cell {
          padding: 4px 0;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid rgba(105, 94, 247, 0.4);
          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  .updateAt {
    color: var(--second-text-color);
    font-size: 12px;
    text-align: end;
    margin-top: 16px;
  }
}

@media (min-width: 1280px) and (max-width: 1420px) {
  .wrap {
    .item {
      width: 348px !important;
    }
  }
}

@media (max-width: 1280px) {
  .modeContent {
    flex-direction: column;
    row-gap: 10px;
  }
  .wrap {
    flex-direction: column;
    row-gap: 23px;
    .item {
      width: 408px !important;
    }
  }
}

@media (max-width: 474px) {
  .wrap {
    .item {
      width: calc(100vw - 60px) !important;
    }
  }
}
