@import '../../../../assets/css/mixin.scss';

.container {
  display: flex;
  // align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 23px;
  padding: 20px 20px 8px;
  @include card;

  .item {
    background: red;
    flex: 1;
    width: 364px;
  }
}

@media (max-width: 820px) {
  .container {
    flex-direction: column;
    row-gap: 23px;
  }
}
