@import '../../assets/css/mixin.scss';
.reverse {
  transform: rotate(180deg);
}

.inputWrapper {
  padding: 0;
  &.error {
    input {
      color: #a40000;
      border: 1px solid #a40000;
    }
  }

  .inputContent {
    box-shadow: var(--input-box-shadow);
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: space-between;
    padding-right: 16px;
    background: var(--input-background-color);
    .symbol {
      display: flex;
      align-items: center;
      color: #000;
      border-right: 1px solid #e5e5e5;
      height: 60px;
      padding: 0 25px;
      font-weight: 500;
    }

    input {
      flex: 1;
      height: 60px;
      border: none;
      outline: none;
      padding-left: 32px;
      box-sizing: border-box;
      background-color: #fff;
      color: #aca6a6;
      background: transparent;
      &::placeholder {
        color: var(--priamry-color);
      }
      &[disabled] {
        background: transparent;
      }
    }

    .max {
      @include max-button;
    }
  }

  .errMsg {
    color: #a40000;
  }
  .moreInfoItem {
    // color: blue;
    font-size: 14px;
    margin: 4px 0;
  }
}
