@import '../../../../assets/css/mixin.scss';

.cell {
  background: rgba(126, 165, 255, 0.2);
  border-radius: 6px;
  margin-top: 16px;
  padding: 8px 16px;
  min-height: 75px;
  cursor: pointer;
  &:hover {
    background: rgba(126, 165, 255, 0.3);
  }
}

.selected {
  border: 1px solid var(--blue-color);
}
