body {
  background: rgb(143, 65, 65);
  color: #231f20;

  --background-color: rgba(255, 255, 255, 0.8);
  --main-text-color: #231f20;

  --primary-color: #1f14ed;
  --box-shadow-color: rgba(183, 169, 235, 0.5);

  &[data-theme='default'] {
    --primary-color: #fa2454;
    --box-shadow-color: rgba(251, 194, 194, 0.5);
  }
}
