body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;

  --blue-color: #5488fe;
  --red-color: #fa2454;
  --yellow-color: #eeba04;
  --green-color: #5adc03;

  --white-background-color: rgba(255, 255, 255, 0.8);

  background-image: url(../../public/images/blue-bg.webp);

  --background-color: rgba(0, 0, 0, 0.6);
  --panel-background-color: rgba(255, 255, 255, 0.9);

  --main-text-color: #fff;
  --second-text-color: #fff;
  --primary-color: #5488fe;
  --adverse-primary-color: #fa2454;
  --card-box-shadow: 0px 9px 36px 4px rgba(49, 24, 132, 0.5);
  --input-box-shadow: 0px 5px 10px 1px rgba(122, 84, 251, 0.5);
  --btn-box-shadow: 0px 5px 10px 1px rgba(122, 84, 251, 0.5);

  &[data-theme='red'] {
    background-image: url(../../public/images/red-bg.webp);
    color: #231f20;

    --background-color: rgba(255, 255, 255, 0.8);

    --main-text-color: #231f20;
    --second-text-color: #a6a6ae;
    --primary-color: #fa2454;
    --adverse-primary-color: #5488fe;
    --card-box-shadow: 0px 9px 36px 4px rgba(49, 24, 132, 0.5);
    --input-box-shadow: 0px 5px 10px 1px rgba(251, 194, 194, 0.5);
    --btn-box-shadow: 0px 5px 10px 1px rgba(251, 194, 194, 0.5);
  }
}
