@import '../../../../assets/css/mixin.scss';

.container {
  position: relative;
  min-width: 308px;
  .arrow {
    width: 10px;
    margin: 10px auto;
  }

  .inputItem {
    margin-bottom: 10px;
  }

  .btn {
    @include colorful-button;
    width: 100%;
    margin-top: 16px;
  }
}
