@import '../../assets/css/mixin.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 32px;
  padding-bottom: 50px;
  margin-top: 150px;
  min-height: 500px;

  .card {
    @include card;
    height: 380px;
    min-width: 357px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 42px 44px;

    .title {
      font-size: 17px;
      span {
        color: var(--primary-color);
      }
    }
    .input {
      margin-top: 24px;
    }
    .forWrap {
      font-size: 16px;
      margin-top: 10px;
      span {
        color: var(--primary-color);
      }
    }
    .buy {
      @include colorful-button;
      margin-top: 24px;
    }
    .num {
      margin-top: 24px;
      font-size: 23px;
      color: var(--primary-color);
    }

    .bottomWrap {
      margin-top: 40px;
    }
  }
}

@media (max-width: 780px) {
  .container {
    margin-top: 50px;
    flex-direction: column;
    row-gap: 32px;
  }
}
