@import '../../../../assets/css/mixin.scss';

.content {
  position: relative;
  h2 {
    font-size: 22px;
    position: absolute;
    top: -60px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    color: var(--second-text-color);
  }
  .items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
