@import '../../../../assets/css/mixin.scss';

.container {
  @include card;
  background: #fff;
  padding: 30px 20px;
  font-size: 16px;
  line-height: 20px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      width: 14px;
    }
    cursor: pointer;
  }

  .content {
    margin-top: 16px;
    color: var(--second-text-color);

    span {
      color: var(--main-text-color);
    }

    .result {
      margin-top: 16px;
      .green {
        color: var(--green-color);
      }
    }
  }
}
