@import '../../assets/css/mixin.scss';
.reverse {
  transform: rotate(180deg);
}

.inputContent {
  padding: 10px 14px;
  box-shadow: 0px 4px 7px 0px var(--box-shadow-color);
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: space-between;
  column-gap: 10px;
  background: rgba(255, 255, 255, 0.5);

  &[data-color] {
    opacity: 0.9;
    color: #fff;
    --second-text-color: rgba(255, 255, 255, 0.5);
    .max {
      color: #fff !important;
    }
  }
  &[data-color='blue'] {
    background: linear-gradient(0deg, #1f14ed 0%, #165ddf 100%);
    box-shadow: 0px 4px 7px 0px rgba(122, 84, 251, 0.5);
  }
  &[data-color='red'] {
    background: linear-gradient(0deg, #ff086b 0%, #f05a29 100%);
    box-shadow: 0px 4px 7px 0px rgba(247, 130, 130, 0.5);
  }

  .left {
    flex-shrink: 0;
    width: 25px;
  }

  .symbolWrap {
    flex-shrink: 0;
    flex: 1;
    min-width: 100px;
    .symbol {
      font-size: 13px;
      .icon {
        width: 10px;
        margin-right: 4px;
        margin-top: -2px;
      }
      .tip {
        color: var(--yellow-color);
        font-size: 11px;
      }
    }
    .usd {
      font-size: 11px;
      color: var(--second-text-color);
    }
  }

  .right {
    .balanceWrap {
      font-size: 11px;
      text-align: end;
      color: var(--second-text-color);
      .max {
        @include max-button;
        margin-left: 10px;
      }
    }
    .select {
      font-size: 17px;
      cursor: pointer;
      color: var(--blue-color);
      &[data-color='red'] {
        color: var(--red-color);
      }
    }
  }

  input {
    height: 20px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: end;
    background: transparent;
    &::placeholder {
      color: var(--priamry-color);
    }
    &[disabled] {
      background: transparent;
    }
  }
}
