@import '../../assets/css/mixin.scss';
.reverse {
  transform: rotate(180deg);
}

.inputContent {
  padding: 12px 18px;
  box-shadow: var(--input-box-shadow);
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: space-between;
  column-gap: 14px;
  background: var(--input-background-color);
  gap: 16px;

  &[data-color] {
    opacity: 0.9;
    color: var(--second-text-color);
    // --second-text-color: rgba(255, 255, 255, 0.5);
    .max {
      color: #fff !important;
    }
  }
  @include color-svg(var(--second-text-color));

  &[data-color='blue'] {
    p {
      color: #fff;
    }
    input {
      color: #fff;
    }
    color: #fff;
    background: var(--f-bg-color);
    @include color-svg();
  }
  &[data-color='red'] {
    p {
      color: #fff;
    }
    input {
      color: #fff;
    }
    color: #fff;
    background: var(--x-bg-color);
    @include color-svg();
  }
  &[data-color='deep-green'] {
    p {
      color: #fff;
    }
    input {
      color: #fff;
    }
    color: #fff;
    background: var(--deep-green-color);
    @include color-svg();
  }

  .left {
    flex-shrink: 0;
    width: 35px;
  }

  .symbolWrap {
    flex-shrink: 0;
    flex: 1;
    min-width: 100px;
    z-index: 10;
    .symbol {
      .tip {
        color: var(--yellow-color);
        font-size: 16px;
      }
    }
    .usd {
      font-size: 16px;
      color: var(--second-text-color);
    }
  }

  .right {
    .balanceWrap {
      font-size: 16px;
      text-align: end;
      color: var(--second-text-color);
      .max {
        @include max-button;
        margin-left: 10px;
      }
    }
    .select {
      font-size: 24px;
      cursor: pointer;
      color: var(--blue-color);
      &[data-color='red'] {
        color: var(--red-color);
      }
    }
  }

  input {
    height: 24px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: end;
    background: transparent;
    &::placeholder {
      color: var(--priamry-color);
    }
    &[disabled] {
      background: transparent;
    }
  }
}
