@import '../../assets/css/mixin.scss';

.container {
  max-width: 1144px;
  margin: 60px auto;

  h2 {
    font-size: 32px;
    color: var(--primary-color);
  }

  .content {
    min-width: 1052px;
    margin-top: 16px;
    border-radius: 10px;
    background: var(--background-color);
    padding: 38px 57px;

    h1 {
      font-size: 24px;
      font-weight: bold;
      color: var(--main-text-color);
    }

    .headerTitle {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      gap: 6px;
    }

    .items {
      display: flex;
      margin-top: 24px;
      gap: 30px;

      .item {
        flex: 1;
        border-radius: 10px;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--input-background-color);
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    overflow-x: scroll;
  }
}
